@charset "utf-8";

/* =======================================

	PARTS CSS

========================================== */



/* DIVIDE
========================================== */

/* 2col
------------------------------------------ */
.div700-2col {
	clear: both;
	margin: 0 -20px 0 0;
	zoom: 1;
}
.div700-2col:after {content: ""; display: block; clear: both;}
.div700-2col .block {
	width: 340px;
	margin: 0 20px 0 0;
	float: left;
}
.div700-2col .borderBlock {
	width: 340px;
	margin: 0 18px 0 0;
	float: left;
	border: 1px solid #DDD;
}
.div700-2col .borderBlock .sectionBody {
	width: 320px;
	padding: 10px;
	margin: 0 18px 0 0;
	float: left;
}
.sectionBody {
	padding: 10px 0;
	background: url(../images/parts/section_bg.png) repeat-x left top;
}


/* 3col
------------------------------------------ */
.div700-3col {
	clear: both;
	margin: 0 -20px 0 0;
	zoom: 1;
}
.div700-3col:after {content: ""; display: block; clear: both;}
.div700-3col .block {
	width: 220px;
	margin: 0 20px 15px 0;
	float: left;
}

.ul700-3col ul {
	clear: both;
	margin: 0 -20px 0 0;
	zoom: 1;
}
.ul700-3col ul:after {content: ""; display: block; clear: both;}
.ul700-3col ul li {
	width: 220px;
	margin: 0 20px 15px 0;
	float: left;
}




/* HEADING
========================================== */
.heading-A {
	min-height: 39px;
	padding: 2px 0 0;
	background: url(../images/parts/heading_a.png) repeat-x;
	position: relative;
	border: 1px solid #DDD;
}
.heading-A h2,
.heading-A h3 {
	font-size: 16px;
	padding: 11px 13px 0;
	margin: 0 2px;
	border-top: 2px solid #004492;
}


.heading-A .moreLink {
	font-weight: bold;
	padding: 0 0 0 15px;
	background: url(../images/parts/ico_01.png) no-repeat left center;
	position: absolute;
	right: 15px;
	top: 13px;
}
.div700-2col .borderBlock .heading-A {
	border: none;
	border-bottom: 1px solid #DDD;
}



/* LIST
========================================== */
ul.list-A {
	margin: 0 -15px 0 0;
}
ul.list-A li,
p.list-A {
	float: left;
	padding: 0 0 0 15px;
	margin: 0 15px 0 0;
	background: url(../images/parts/ico_01.png) no-repeat left center;
}


/* TXT & BANNER
------------------------------------------ */
.bannerGroup {
	padding: 0 0 5px;
	margin: 0 0 15px;
}
.bannerGroup ul {}
.bannerGroup ul li {
	height: 50px;
	line-height: 50px;
	background: url(../images/parts/banner_bg.png) repeat-x 2px 0;
}
.bannerGroup ul li a {
	height: 46px;
	font-weight: bold;
	text-indent: 25px;
	text-decoration: none;
	display: block;
	border: 2px solid #DDD;
	background: url(../images/parts/ico_01.png) no-repeat 8px center;
}
.bannerGroup ul li a:hover {
	border: 2px solid #004DA6;
}


.dateList {}
.dateList dl {}
.dateList dl dt,
.dateList dl dd {
	padding: 10px 0;
	background: url(../images/parts/line_dot.png) repeat-x left bottom;
}
.dateList dl dt {
	width: 8em;
	float: left;
	clear: both;
}
.dateList dl dd {
	position: relative;
	text-indent: -15px;
	margin: 0 0 0 8em;
	zoom: 1;
}
.dateList dl dd a {
	padding-left: 15px;
	background: url(../images/parts/ico_01.png) no-repeat left 0.5em;
}
.dateList dl dd span.addIcoPdf {
	text-decoration: none;
	display: inline-block;
	color: #888;
	padding-left: 35px;
	margin-left: 5px;
	background: url(../images/parts/ico_pdf.png) no-repeat left 0.3em;
}



/* IMAGE
========================================== */
.borderImg a {
	display: block;
	border: 1px solid #BBB;
	text-decoration: none;
}
.borderImg a:hover {
	position: relative;
	top: 1px;
	left: 1px;
	margin: -2px 0 0 -2px;
	border: 2px solid #004DA6;
}
