@charset "utf-8";

/* =======================================

	STRUCTURE CSS

========================================== */



/* LAYOUT
========================================== */
body {
	color: #212121;
	overflow-x: hidden;
	min-width: 960px;
	position: relative;
}
#wrapper {
	width: 960px;
	margin: 0 auto;
	text-align: left;
	position: relative;
}
#header {
	height: 75px;
	margin: 0 -500%;
	padding: 0 500%;
	width: 100%;
	position: relative;
	background: url(../images/common/header_bg.png) repeat-x;
	z-index: 1000;
}
* html         {overflow: hidden; overflow-x: auto; height: 100%;}
* html body    {overflow-y: auto; height: 100%;}
* html #header {position: relative; zoom: 1;}
*:first-child+html #header {position: relative; zoom: 1;}
#contents {}
#main {
	width: 700px;
	float: left;
	display: inline;
}
#side {
	width: 230px;
	float: right;
	display: inline;
}
#footer {
	clear: both;
}



/* HEADER
========================================== */
#logo {
	height: 28px;
	width: 177px;
	line-height: 28px;
	position: absolute;
	top: 21px;
}
#logo a {
	height: 28px;
	width: 177px;
	display: block;
	overflow: hidden;
	text-indent: -9999px;
	background: url(../images/common/logo.png) no-repeat;
}

#description {}
#language {
	position: absolute;
	top: 10px;
	right: 0px;
	z-index: 2000;
}
#language ul {
	margin: 0 -15px 0 0;
}
#language ul li {
	float: left;
	margin: 0 15px 0 0;
}
#language ul li img {
	margin: 0 3px 0 0;
}
#headerNavi {
	position: absolute;
	top: 38px;
	right: 0px;
	z-index: 2000;
}



/* GLOBALNAVI
========================================== */
#navArea {
	clear: both;
	height: 50px;
	width: 960px;
	position: relative;
}
#globalnavi {
	width: 710px;
	margin: 0 0 30px;
	position: absolute;
	left: 0;
	top: 0;
}
#globalnavi li {
	height: 50px;
	width: 142px;
	line-height: 50px;
	float: left;
	display: inline;
}
#globalnavi li a {
	height: 50px;
	display: block;
	overflow: hidden;
	text-indent: -9999px;
	background: url(../images/common/globalnavi.png) no-repeat;
}

/* GLOBAL NAVI a:link */
#globalnavi #gnavi01 a {background-position:    0px 0px;}
#globalnavi #gnavi02 a {background-position: -142px 0px;}
#globalnavi #gnavi03 a {background-position: -284px 0px;}
#globalnavi #gnavi04 a {background-position: -426px 0px;}
#globalnavi #gnavi05 a {background-position: -568px 0px;}

#searchBox {
	width: 250px;
	height: 50px;
	position: absolute;
	right: 0px;
	background: url(../images/common/search_bg.png) no-repeat;
}
#searchBox form {
	width: 230px;
	margin: 13px auto;
}
#searchBox .txtInput {
	width: 190px;
	height: 24px;
	padding: 0;
	border: 0px;
	float: left;
}
#searchBox .submitBtn {
	background: url(../images/parts/search_btn.png) no-repeat;
	width: 39px;
	height: 24px;
	text-indent: -9999px;
	overflow: hidden;
	cursor: pointer;
	display: block;
	border: 0;
	border-width: 0px;
	float: right;
	zoom: 1;
}


/* CRUMBS
========================================== */
#crumbs {
	font-size: 10px;
	margin: 0 0 30px;
	clear: both;
}
#crumbs ol {
	text-align: left;
}
#crumbs ol li {
	float: left;
	display: inline;
}
#crumbs .arrow {
	padding: 0 10px;
	content: ">";
}
#crumbs a {
	text-decoration: none;
}



/* MAIN
========================================== */
#main section {
	margin: 0 0 20px;
}



/* SIDE
========================================== */
#side section {
	margin: 0 0 20px;
}


/* LOCALNAVI
------------------------------------------ */
#localnavi {}
#localnavi li {
	padding: 0 0 0 20px;
}


/* BANNER
------------------------------------------ */
#side #banner {}
#side #banner ul li {
	margin: 0 0 10px;
}



/* FOOTER
========================================== */
#footer {
	border-top: solid 1px #DDD;
	margin: 0 -500%;
	padding: 30px 500%;
	width: 100%;
	position: relative;
	z-index: 1000;
}
* html #footer {position: relative; zoom: 1;}
*:first-child+html #footer {position: relative; zoom: 1;}
#pagetop {
	position: absolute;
	right: 0;
	z-index: 2000;
}

/* FOOTER NAVIGATION
------------------------------------------ */
#footerLogo {
	width: 177px;
	float: left;
}
#footerNavi {
	float: right;
	margin: 10px 0;
}


/* COPYRIGHT
------------------------------------------ */
#copyright {
	clear: both;
	padding: 30px 0 0;
	text-align: center;
}
